{% extends "base.html" %}

{% block body %}
<div class="col-lg-12">
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <strong>Todos os Perfis</strong>
        </div>
        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <td>Nome:</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>

            {% if perfis %}
                
                {% for perfil in perfis %}
                    <tr>
                        <td>{{perfil.nome}}</td>
                        <td> <a href="{% url 'exibir' perfil.id %}" class="btn-sm btn-primary"> Detalhes </a> </td>
                    </tr>
                {% endfor %}

            {% else %}

                <tr><td>Não existem perfis</td></tr>

            {% endif %}

            </tbody>
        </table>
    </div>    
</div>
{% endblock %}

